<!DOCTYPE html>
<html>
    <% include head%> 
    <body> 
<!-- Ulbora CMS Template and theme -->
        <div class="top-menu">
            <div class="top-menu-space">
                <div class="logo">Ken Williamson</div>
                <div class="logo-img"><img alt="Ken-Williamson.com" src="img/kwilliamson_1.5.jpeg"/></div>
                
            </div>
            <div class="top-menu-menu">
                <nav>
                    <ul>
                        <li><a class=""  href="/">Home</a></li>  
                        <% for(var i=0; i<content.articleLocations.TopMenu.length; i++) {%> 
                            <%if (content.articleLocations.TopMenu[i].title === article.title) { %>
                                <li class="activeLink"><a href="/article?id=<%= content.articleLocations.TopMenu[i]._id %>"><%= content.articleLocations.TopMenu[i].title %></a></li>           
                            <% }else{ %>
                                <li class=""><a href="/article?id=<%= content.articleLocations.TopMenu[i]._id %>"><%= content.articleLocations.TopMenu[i].title %></a></li>
                            <% } %>
                        <% } %>                        
                        <%if (loggedIn) { %>
                            <li><a class="" href="/logout">Logout</a></li>
                        <% }else{ %>
                            <li><a class="" href="/login">Login</a></li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </div>   
        <div id="container" class="container">  
            <div class="article-wrapper">
                <div class="article-title"><%- article.title %></div>
                <div class="article">
                    <%- article.articleText.text %>
                </div>  
                <div class="article-tags" >
                    <%if (article.tag !== undefined) { %>
                        <p>Tags: 
                            <% for(var i=0; i < article.tag.keyWords.length; i++) {%>                             
                                <a href="/article?id=<%= article._id %>"
                                    rel="tag"><%= article.tag.keyWords[i] %></a>
                                    <%if (i < (article.tag.keyWords.length -1)) { %>
                                    ,
                                    <% } %>
                            <% } %>
                        </p>
                    <% } %>
        </div>
            </div> 
            <%if (article.allowComments && (!article.commentsRequireLogin || loggedIn)) { %>
                <div class="comments">
                <div class="comment-form-wrapper">
                    <form action="/comment" method="post">
                        <div class="comment-form-label">
                            <label for="commentText">Add Comment:</label>
                        </div>
                        <input name="article" type="hidden" value="<%= article._id %>"/>
                        <div class="comment-form-entry-box">
                            <textarea class="comment-form-textarea" name="text" placeholder="Comment" required></textarea>
                        </div>

                        <div class="comment-form_button">
                            <button type="submit" class="form-button">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="comments-list">
                    <% for(var i=0; i<article.commentList.length; i++) {%>  
                        <div class="comment-entry">
                            <div class="comment-user">
                                <%= article.commentList[i].commenter.firstName %> <%= article.commentList[i].commenter.lastName %>
                            </div>
                            <div class="comment-text">
                                <%= article.commentList[i].text %>
                            </div>                        
                        </div>                        
                    <% } %> 
                </div>
            </div>
            <% }else if(article.allowComments && !loggedIn){ %>
                <div class="comment-link">Comments Require Login</div>
            <% } %>
            
        </div>
        <div class="footer-long">
            Copyright 2014 Ken Williamson | Powered by Ulbora CMS
        </div>
    </body>
    <!-- Ulbora CMS Template and theme -->
</html>
